---
layout: 2fa-guides
title: 2FA Guides
description: The Step by Step Guides on how to enable Two-Factor Authentication (2FA) on websites that support that option, including Google, Facebook, Dropbox, and many others.
permalink: /2fa-guides/
image: /assets/guides/2fa-2stable.jpg
--- 
<div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-lg-9 m-3 py-3 py-md-5">
        <h1 id="content">2FA Guides</h1>
        <p class="lead">Protect your online accounts with Two Factor Authentication (2FA)</p>
        <div class="bg-light">
          <p class="px-2 px-md-5 pt-md-5 pt-4 m-md-0">The best way to manage all your 2FA accounts is to use the Authenticator app. If any sites prompt you to use Google Authenticator for two-factor authentication, note you can always substitute it with the Authenticator by 2Stable. Although they work in similar ways, Authenticator by 2Stable is more feature-rich and allows for multi-device syncing, iCloud-backups, and have easier account recovery in case you lose your device or just want to switch to a new one.</p>
          <a href="https://apps.apple.com/app/apple-store/id1538761576?pt=122171064&ct=2stable.com.iPhone&mt=8#?platform=iphone" target="_blank"><img src="https://one-badge.com/b/apple/appstore.svg" alt="apple badge download" height="48" class="mb-4 my-md-5"></a>
        </div>
      </div>
    </div>
</div>
<div class="container pb-5">
  <div class="row">
      {% for guide in site.guides %}
      <div class="col-lg-3 col-md-4 p-3">
        <div class="card border h-100">
          <div class="bg-light text-center d-flex" style="height: 120px;">
            <img class="d-block m-auto p-2" src="{{ guide.my-image }}" style="width: 50%" alt="{{ guide.title }}">
          </div>
          <div class="card-body">
            <h6 class="card-title m-0">{{ guide.title }}</h6>
            <p class="card-text"><small class="text-muted">{{ guide.date | date_to_string }}</small></p>
            {% if guide.state == "soon" %}
            <p class="btn btn-sm btn-outline-secondary m-0">Soon</p>
            {% else %}
            <a href="{{ guide.url }}" class="btn btn-sm btn-outline-primary">Read guide</a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
</div>
