.bg {
    /* The image used */
    /* background-image: url("https://cdn.dribbble.com/users/5824529/screenshots/15300819/media/64dd212a3ef9670805f8be7dc5da7e0a.jpg"); */
  
    /* Full height */
    /* height: 100%; */

    color: rgba(0, 0, 0, 0);
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: red;
  }