.bg {
    color: rgba(0, 0, 0, 0);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.hover:hover {
  /* box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important; */
  /* box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important; */
  box-shadow: 0 .25rem 0.5rem rgba(0,0,0,.075)!important;
  border-radius: 0.5rem;
  transform: scale(1.01, 1.01);
}

.release-note:first-of-type .timeline-decorator::before {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.1) 50px);
}
.release-note:last-of-type .timeline-decorator::before {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0));
}
.timeline-decorator::before {
  content: "";
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0,0,0,0.1));
  width: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc((65px / 2) + 16px);
  z-index: -1;
}

.bg-purple {
  background-color: #6f42c1 !important;
}

.bg-next {
  background-color: #28a745 !important;
}

.py-6 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.version-badge {
  width: 65px;
  text-align: center;
  font-size: 14px !important;
  color: rgba(255,255,255,0.85);
}

.text-bold {
  font-weight: 600 !important;
}

.f3-light {
  font-size: 20px !important;
  font-weight: 400 !important;
}

.change-badge {
  background-color: #0366d6;
  display: inline;
  flex: 0 0 65px;
  font-size: 10px;
  font-weight: 600;
  border-radius: 3px;
  margin-right: 8px;
  padding: 2px 5px;
  text-transform: uppercase;
  text-align: center;
  color: rgba(255,255,255,0.85);
}

.change-badge-improved {
  background-color: #0366d6;
}

.change-badge-fixed {
  background-color: #0366d6;
}

.change-badge-new, .change-badge-added {
  background-color: #28a745;
}

@media (min-width: 768px){
  .change-log {
    margin-left: 74px;
  }
}

.change-log-new {
  margin-left: 74px;
}

.change-description {
  line-height: 1.25
}

.anchorjs-link {
  opacity: 0.5;
  text-decoration: none;
  /* -webkit-font-smoothing: antialiased; */
}

.anchorjs-link {
  font-weight: 400;
  color: rgba(13,110,253,0.01);
  transition: color 0.15s ease-in-out;
}

[data-anchorjs-icon]::after {
  content: attr(data-anchorjs-icon);
}

/* *, ::after, ::before {
  box-sizing: border-box;
} */