<div class="text-center mx-auto pb-md-5 pb-3">
    <div class="h2">Authenticator is on ProductHunt</div>
    <div class="d-flex justify-content-center text-center">
      <div class="col-md-6 lead">
        <p class="lead pb-3">We're excited to announce that we're have been featured on ProductHunt</p>
      </div>
    </div>
    <a href="https://www.producthunt.com/posts/authenticator-by-2stable?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-authenticator-by-2stable" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=286917&theme=dark" alt="Authenticator by 2Stable - Secure, encrypted and fast two-factor authentication app | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" /></a></p>
</div>
