<div class="col-md-8 col-lg-6 mx-auto pb-md-5" id="faqs">
    <div class="p-3 pt-5 text-center">
        <h2>FAQ's</h2>
        <p class="lead pb-3">Here's a list of some of our most common questions</p>
    </div>
    <div class="accordion pb-md-5" id="accordionExample">
      {% for question in site.data.faqs.questions %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="{{ question.id }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ question.target }}" aria-expanded="true" aria-controls="{{ question.target }}">
              {{ question.title }}
            </button>
          </h2>
          <div id="{{ question.target }}" class="accordion-collapse collapse" aria-labelledby="{{ question.id }}" data-bs-parent="#accordionExample">
            <div class="accordion-body py-4">
              <!-- <strong>This is the first item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow. -->
              {{ question.details }}
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
    <div class="p-3 pt-5 text-center ">
      <h2>Ask us anything</h2>
      <p class="lead pb-3">Did't find what you were loooking for? We’re always here to help.</p> 
      <a href="{{ site.support_mail }}">
        <div class="btn btn-outline-primary"><i class="bi bi-envelope pe-2"></i>Send us an email</div>
      </a>
    </div>
</div>