<div class="text-center py-5" id="featured">
    <!-- <h2>Featured on</h2> -->
    <div class="row">
        {% for source in site.data.featuredon.sources %}
        <div class="col py-2">
          <div class="card border-0 py-3 h-100 ">
              <a href="{{ source.url }}" style="text-decoration: none" target="_blank"  class="hover">
                <div class="card-body">
                    <img width="160" src="{{ source.img }}" alt="{{ source.name }}">
                </div>
             </a>
          </div>
        </div>
        {% endfor %}
    </div>
</div>