<footer class="footer bg-footer px-2 pt-5 pt-md-5 text-white mt-5">
  <div class="container pt-3 pt-md-0">
    <div class="row pb-3">
      <div class="col-md-4 mt-n2 pb-3 pb-md-0 mb-4"><a class="d-block mb-3" href="https://authenticator.2stable.com"><img src="/assets/img/icon-1025.png" width="40" alt="app logo"></a>
        <p class="fs-6 pb-2 pb-sm-3 opacity-60">Secure and fast two-factor authentication app for iPhone, iPad, iPod, Apple Watch and macOS.</p>
        <a class="btn-social me-3 mb-2" href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="h4 bi-twitter"></i></a>
        <a class="btn-social me-3 mb-2" href="https://youtube.com/channel/{{ site.youtube_username }}" target="_blank"><i class="h4 bi bi-youtube"></i></a>
      </div>
      <div class="col-md-2 col-sm-4 ms-auto col pb-1 mb-4">
        <div class="widget widget-light">
          <h5 class="widget-title">{{ site.footer-c-name }}</h5>
          <ul>
            {% for item in site.footer-c %}
            <li><a class="widget-link" href="{{ item.href }}">{{ item.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col pb-1 mb-4">
        <div class="widget widget-light">
            <h5 class="widget-title">{{ site.footer-r-name }}</h5>
          <ul>
            {% for item in site.footer-r %}
            <li><a class="widget-link" href="{{ item.href }}">{{ item.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col mb-4">
        <div class="widget widget-light">
          <h5 class="widget-title">{{ site.footer-d-name }}</h5>
          <ul>
            {% for item in site.footer-d %}
            <li><a class="widget-link" href="{{ item.href }}">{{ item.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-0 border-light">
    <div class="row align-items-center mt-3 py-4">
      <div class="col-md-6 order-md-2 text-md-end mb-3">
        <ul class="list-inline fs-sm mb-0">
          <li class="list-inline-item"><a class="nav-link-style nav-link-light" href="{{ site.privacy_url }}">Privacy Policy</a></li>
          <li class="list-inline-item"><a class="nav-link-style nav-link-light" href="{{ site.terms_of_service_url }}">Terms of Service</a></li>
        </ul>
      </div>
      <div class="col-md-6 order-md-1 mb-3">
        <p class="mb-1"><a class="nav-link-style nav-link-light" href="https://2stable.com" rel="noopener">© 2Stable.</a><span class="text-light opacity-50 me-1"> All rights reserved.</span></p>
      </div>
    </div>
  </div>
</footer>