<footer class="bd-footer p-3 p-md-5 text-sm-start">
  <div class="container text-center">
    <div class="ps-0 mb-3">
      <a class="p-2" href="{{ site.privacy_url }}" style="text-decoration: none !important">Privacy Policy</a>
      <a class="p-2" href="{{ site.terms_of_service_url }}" style="text-decoration: none !important">Terms of Service</a>
      <a class="p-2" href="{{ site.support_mail }}" style="text-decoration: none !important">Contact</a>
      <a class="p-2" href="https://twitter.com/{{ site.twitter_username }}" style="text-decoration: none !important" target="_blank">Twitter</a>
    </div>
    <hr class="my-4 mx-auto col-md-1">
    <p class="text-muted mb-1"><a href="https://2stable.com" target="_blank" class="text-dark" style="text-decoration: none">© 2Stable.</a> All rights reserved.</p>
    <p class="text-muted">Avenida el Través, 31, AD400 La Massana, Andorra <img src="/assets/AD.svg" alt="Flag of Andorra"></p>
  </div>
</footer>