<header class="py-md-5 pb-5">
  <div class="row">
    <div class="col-md-6">
      <h1 class="display-4 py-2">Authenticator</h1>
      <p class="lead font-weight-normal pe-4">Secure and fast two-factor authentication app for iPhone, iPad, iPod, Apple Watch and macOS.</p>
      <div class="py-4">
        <ul class="p-0 m-0" style="list-style: none">
          {% for app in site.appstore %}
          <li class="pb-3">
            <a href="{{ app.url }}" target="_blank">
              <img src="{{ app.src }}" alt="{{ app.alt }}" height="48">
            </a>
          </li>
          {% endfor %}
          </ul>
          <span class="text-muted" id="version">Loading...</span>
          <div class="pt-4">
            <div class="d-flex justify-content-start">
              <span class="pe-2 pb-3">
                <img  alt="App Rating" width="30" src="/assets/reviews/star.svg">
                <img  alt="App Rating" width="30" src="/assets/reviews/star.svg">
                <img  alt="App Rating" width="30" src="/assets/reviews/star.svg">
                <img  alt="App Rating" width="30" src="/assets/reviews/star.svg">
                <img  alt="App Rating" width="30" src="/assets/reviews/star.svg">
              </span>
            </div>
            <div>
              <span class="h3">{{ site.app_rating }} <small class="text-muted">out of 5</small></span>
              <p class="text-muted">Based on {{ site.app_rating_count }} reviews around the globe</p>
            </div>
          </div>
      </div>
    </div>
    <!-- <div class="col-md-6 d-flex align-content-center flex-wrap"> -->
    <div class="col-md-6 d-flex align-items-center">
      <img alt="Product View" class="w-100" src="/assets/img/artboard_optimized.png">
    </div>
  </div>
</header>
