<div class="container py-2">
  <header class="d-flex flex-column flex-md-row align-items-center pt-3">
    <div class="pe-md-2">
      <a class="navbar-brand me-md-auto my-0 mx-0 text-dark " href="/"><img src="/assets/img/icon-1025.png" width="40" class="d-inline-block align-top" alt="Authenticator app logo"></a>
    </div>
    <a class="navbar-brand me-md-auto my-0 mx-0 text-dark" href="/">{{ site.title }}</a>
    <nav class="my-2 my-md-0 me-md-3 ">
      <a class="p-2 text-dark" href="/blog/" style="text-decoration: none !important">Blog</a>
      <a class="p-2 text-dark" href="/2fa-guides/" style="text-decoration: none !important">2FA Guides</a>
      <a class="p-2 text-dark" href="/android/" style="text-decoration: none !important">Android</a>
    </nav>
    <!-- <a class="btn btn-outline-primary" href="#">Sign up</a> -->
  </header>
</div>

