<div class="col-md-8 mx-auto" id="changelog">
    <div class="p-3 pt-5 mb-3 text-center">
        <h2>Changelog<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#changelog" style="padding-left: 0.375em;"></a></h2>
        <p class="lead pb-3">Our release notes for new features and updates</p>
    </div>
    <div> 
        {% for release in site.data.release-notes-next.notes %}
        <section class="release-note position-relative py-6 text-left">
            <header class="timeline-decorator d-flex align-items-center mb-3">
                <span class="version-badge d-inline-block bg-warning text-dark p-1 rounded-1 me-2 text-bold">{{ release.version }}</span>
                <h2 class="f3-light my-auto">{{ release.date }}</h2>
            </header>
            <ul class="list-style-none change-log-new p-0">
                {% for change in release.changes %}
                <li class="d-flex align-items-start mb-1">
                    <div class="change-description">- {{ change }}</div>
                </li>
                {% endfor %}
            </ul>
        </section>
        {% endfor %}     
        {% for release in site.data.release-notes.notes %}
        <section class="release-note position-relative py-6 text-left">
            {% if release.badges[0] == "NEW" %}
            <header class="timeline-decorator d-flex align-items-center mb-3">
                <span class="version-badge d-inline-block bg-primary p-1 rounded-1 me-2 text-bold">{{ release.version }}</span>
                <h2 class="f3-light my-auto">{{ release.date }}</h2>
            </header>
            {% endif %}
            {% if release.badges[0] == "ADDED" %}
            <header class="timeline-decorator d-flex align-items-center mb-3">
                <span class="version-badge d-inline-block bg-purple p-1 rounded-1 me-2 text-bold">{{ release.version }}</span>
                <h2 class="f3-light my-auto">{{ release.date }}</h2>
            </header>
            {% endif %}
            <ul class="list-style-none change-log p-0">
                {% for change in release.changes.new %}
                <li class="d-flex align-items-start mb-2">
                    <div class="change-badge change-badge-new">{{ release.badges[0] }}</div>
                    <div class="change-description">{{ change }}</div>
                </li>
                {% endfor %}
                {% for change in release.changes.added %}
                <li class="d-flex align-items-start mb-2">
                    <div class="change-badge change-badge-added">{{ release.badges[0] }}</div>
                    <div class="change-description">{{ change }}</div>
                </li>
                {% endfor %}
                {% for change in release.changes.fixed %}
                <li class="d-flex align-items-start mb-2">
                    <div class="change-badge change-badge-fixed">{{ release.badges[1] }}</div>
                    <div class="change-description">{{ change }}</div>
                </li>
                {% endfor %}
                {% for change in release.changes.improved %}
                <li class="d-flex align-items-start mb-2">
                    <div class="change-badge change-badge-improved">{{ release.badges[2] }}</div>
                    <div class="change-description">{{ change }}</div>
                </li>
                {% endfor %}
            </ul>
        </section>
        {% endfor %}
    </div>
</div>