<div class="pb-5 col-md-8 mx-auto" id="reviews">
  <div class="p-3 pt-5 text-center">
    <h2>Users Voice<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#reviews" style="padding-left: 0.375em;"></a></h2>
    <p class="lead pb-3">Read what users think about Authenticator</p>
  </div>
  <div class="row justify-content-center">
      <div class="col-lg-6">
        {% for review in site.data.reviews.reviews-left %}
        <div class="card border-0 p-4 mb-3" style="background-color: #f8f8f8; border-radius: 0.5rem;">
          <span class="pb-2">
              <img  alt="App Rating" width="24" src="/assets/reviews/star.svg">
              <img  alt="App Rating" width="24" src="/assets/reviews/star.svg">
              <img  alt="App Rating" width="24" src="/assets/reviews/star.svg">
              <img  alt="App Rating" width="24" src="/assets/reviews/star.svg">
              <img  alt="App Rating" width="24" src="/assets/reviews/star.svg">
          </span>
          <span class="text-muted pb-3" style="font-size: 0.875rem;">{{ review.user }} · {{ review.date }}</span> 
          <h6>{{ review.title }}</h6>
          <p class="m-0">{{ review.message }}</p>
        </div>
        {% endfor %}
      </div>
      <div class="col-lg-6">
        {% for review in site.data.reviews.reviews-right %}
        <div class="card border-0 p-4 mb-3" style="background-color: #f8f8f8; border-radius: 0.5rem;">
          <span class="pb-2">
            <img  alt="App Rating" width="24" src="/assets/reviews/star.svg">
            <img  alt="App Rating" width="24" src="/assets/reviews/star.svg">
            <img  alt="App Rating" width="24" src="/assets/reviews/star.svg">
            <img  alt="App Rating" width="24" src="/assets/reviews/star.svg">
            <img  alt="App Rating" width="24" src="/assets/reviews/star.svg">
          </span>
          <span class="text-muted pb-3" style="font-size: 0.875rem;">{{ review.user }} · {{ review.date }}</span> 
          <h6>{{ review.title }}</h6>
          <p class="m-0">{{ review.message }}</p>
        </div>
        {% endfor %}
      </div>
  </div>
</div>

<!-- <div class="row justify-content-center">
  <div class="col-lg-4">
    {% for review in site.data.reviews.reviews-left %}
    <div class="card border-0 p-4 mb-3" style="background-color: #f8f8f8; border-radius: 0.5rem;">
      <span class="pb-2">
          <img  alt="App Rating" width="24" src="/assets/reviews/star.svg">
          <img  alt="App Rating" width="24" src="/assets/reviews/star.svg">
          <img  alt="App Rating" width="24" src="/assets/reviews/star.svg">
          <img  alt="App Rating" width="24" src="/assets/reviews/star.svg">
          <img  alt="App Rating" width="24" src="/assets/reviews/star.svg">
      </span>
      <span class="text-muted pb-3" style="font-size: 0.875rem;">{{ review.user }} · {{ review.date }}</span> 
      <h6>{{ review.title }}</h6>
      <p class="m-0">{{ review.message }}</p>
    </div>
    {% endfor %}
  </div>
  <div class="col-lg-4">
    {% for review in site.data.reviews.reviews-right %}
    <div class="card border-0 p-4 mb-3" style="background-color: #f8f8f8; border-radius: 0.5rem;">
      <span class="pb-2">
        <img  alt="App Rating" width="24" src="/assets/reviews/star.svg">
        <img  alt="App Rating" width="24" src="/assets/reviews/star.svg">
        <img  alt="App Rating" width="24" src="/assets/reviews/star.svg">
        <img  alt="App Rating" width="24" src="/assets/reviews/star.svg">
        <img  alt="App Rating" width="24" src="/assets/reviews/star.svg">
      </span>
      <span class="text-muted pb-3" style="font-size: 0.875rem;">{{ review.user }} · {{ review.date }}</span> 
      <h6>{{ review.title }}</h6>
      <p class="m-0">{{ review.message }}</p>
    </div>
    {% endfor %}
  </div>
</div> -->