<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" class="h-100">
  <head>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta name="google-site-verification" content="{{ site.google_verification }}" />
    <meta charset="UTF-8">
    <meta name="twitter:site" content="@authwidget">
    <meta name="twitter:creator" content="@authwidget">
    <meta name="twitter:image" content="https://authenticator.2stable.com/assets/img/icon-1025.png">
    <meta name="twitter:description" content="Secure and fast Two-Factor Authentication manager for iPhone, iPad, iPod, Apple Watch and macOS.">
    <meta name="twitter:app:name:iphone" content="Authenticator App">
    <meta name="twitter:app:id:iphone" content="1538761576">
    <meta name="twitter:app:name:ipad" content="Authenticator App">
    <meta name="twitter:app:id:ipad" content="1538761576">
    <meta property="og:image" content="https://authenticator.2stable.com/assets/img/icon-1025.png">
    <meta property="og:type" content="website">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- Bootstrap CSS -->
    {{ site.bootstrap-css }}
    {{ site.bootstrap-icons }}
    <!-- local CSS -->
    {{ site.local-css }}
    <!-- microanalytics  -->
    {{ site.microanalytics }}
  </head>
  <body class="d-flex h-100">
    <div class="d-flex w-100 h-100 mx-auto flex-column">
        <div class="mb-auto">
            {%- include nav.html -%}
        </div>
        <div class="px-2 text-center">
            {{ content }}
        </div>
        <div class="mt-auto">
            {%- include footer.html -%}
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- JavaScript Bundle with Popper -->
    {{ site.bootstrap-js-1 }}
    {{ site.bootstrap-js-2 }}
  </body>
</html>