<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" class="h-100">
  <head>
    {% for item in site.analytics %}
      {% if item.include > 0 %}
        <!-- {{ item.name }} -->
        {{ item.issuer }}
      {% endif %}
    {% endfor %}
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="{{ site.google_verification }}" />
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- Bootstrap CSS -->
    {{ site.bootstrap-css }}
    {{ site.bootstrap-icons }}
    <!-- local CSS -->
    {{ site.local-css }}
  </head>
  <body class="d-flex h-100">
    <div class="d-flex w-100 h-100 mx-auto flex-column">
        <div class="">
            {%- include nav.html -%}
        </div>
        <div class="">
            {{ content }}
        </div>
        <div class="mt-auto">
            {%- include backtotop.html -%}
            {%- include footer.html -%}
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- JavaScript Bundle with Popper -->
    {{ site.bootstrap-js-1 }}
    {{ site.bootstrap-js-2 }}
    {{ site.backtotop-js }}
  </body>
</html>