<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>{% for item in site.analytics %}{% if item.include > 0 %}<!-- {{ item.name }} -->{{ item.issuer }}{% endif %}{% endfor %}
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="{{ site.google_verification }}" />
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    {{ site.smart_banner }}
    <!-- Bootstrap CSS -->
    {{ site.bootstrap-css }}
    {{ site.bootstrap-icons }}
    <!-- local CSS -->
    {{ site.local-css }}
  </head>
  <body>
    <main id="content" class="container px-3 py-5">
        <header class="container text-center px-md-5 py-5 col col-md-8">
            <h1>{{ page.title | default: site.title }}</h1>
            <h2 class="px-md-5 pb-3 lead">{{ page.description | default: site.description }}</h2>
        </header>
        <div class="row justify-content-center px-md-5">
            <div class="col col-md-8">
                {{ content }}          
            </div>
        </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- JavaScript Bundle with Popper -->
    {{ site.bootstrap-js-1 }}
    {{ site.bootstrap-js-2 }}
  </body>
</html>
