<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="{{ site.google_verification }}" />
{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- Bootstrap CSS -->
    {{ site.bootstrap-css }}
    {{ site.bootstrap-icons }}
    <!-- local CSS -->
    {{ site.local-css }}
    <!-- microanalytics  -->
    {{ site.microanalytics }}
  </head>
  <body>
    <!-- <a id="skip-to-content" href="#content">Skip to the content.</a> -->
    {%- include nav.html -%}
    <main id="content" class="container px-3">
        <div class="row justify-content-center pb-4">
            <!-- <div class="bg rounded my-3 mt-md-4 mb-md-5" style="width: 800px; height: 380px; background-image: url('{{ page.image }}')"></div> -->
            <div class="col-lg-8">
                <div class="py-md-5 py-3">
                  <img class="w-100 rounded" src="{{ page.image }}" alt="{{ page.permalink }}">
                </div>
                <h1>{{ page.title | default: site.title }}</h1>
                <p class="text-muted">{{ page.date | date_to_string }} - by <a href="https://twitter.com/{{ page.twitter }}" style="text-decoration: none !important" target="_blank">{{ page.author }}</a></p>
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-via="{{ page.twitter }}" data-hashtags="{{ page.tags }}" data-related="AuthWidget" data-show-count="true">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div> 
        </div>
        <div class="row justify-content-center ">
            <div class="col-lg-8">
                {{ content }}          
            </div>
        </div>
    </main>
    {%- include footer.html -%}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- JavaScript Bundle with Popper -->
    {{ site.bootstrap-js-1 }}
    {{ site.bootstrap-js-2 }}
  </body>
</html>
