<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" class="h-100">
  <head>
    {% for item in site.analytics %}
      {% if item.include > 0 %}
        <!-- {{ item.name }} -->
        {{ item.issuer }}
      {% endif %}
    {% endfor %}
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="{{ site.google_verification }}" />
{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- Bootstrap CSS -->
    {{ site.bootstrap-css }}
    {{ site.bootstrap-icons }}
    <!-- local CSS -->
    {{ site.local-css }}
  </head>
  <body class="d-flex h-100">
    <div class="d-flex w-100 h-100 mx-auto flex-column">
      <div class="mb-auto">
        {%- include nav.html -%}
      </div>
      <div id="content" class="container">
        <div class="row justify-content-center px-md-5 px-2">
            <div class="col col-lg-8">
              <div class="p-md-5 py-3 text-center border rounded mb-3 icon-demo">
                <img class="w-75" src="{{ page.my-image }}" alt="{{ page.permalink }}">
              </div>
              <h1>{{ page.title | default: site.title }}</h1>
              <p class="text-muted">{{ page.date | date_to_string }} - by <a href="https://twitter.com/{{ page.twitter }}" style="text-decoration: none !important" target="_blank">{{ page.author }}</a></p>
              <div style="height: 30px;">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-via="{{ page.twitter }}" data-hashtags="{{ page.tags }}" data-related="AuthWidget" data-show-count="true"></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
              <div class="callout">
                <strong>Important:</strong> If any sites prompt you to use Google Authenticator for two-factor authentication, note you can always substitute it with <a href="https://apps.apple.com/app/apple-store/id1538761576?pt=122171064&ct={{ page.permalink }}&mt=8">Authenticator by 2Stable</a>. Although they work in similar ways, Authenticator by 2Stable is more feature-rich and allows for multi-device syncing, iCloud-backups, and have easier account recovery in case you lose your device or just want to switch to a new one.
              </div>
              <div class="text-center">
                <a href="https://apps.apple.com/app/apple-store/id1538761576?pt=122171064&ct={{ page.permalink }}&mt=8" target="_blank"><img src="https://one-badge.com/b/apple/appstore.svg" alt="apple badge download" height="42" class="hover"></a>
              </div>
            </div>
        </div>
        <div class="row justify-content-center px-md-5">
            <div class="col col-lg-8 px-0">
                {{ content }}   
            </div>
        </div>
      </div>
      <div class="mt-auto">
        {%- include backtotop.html -%}
        {%- include footer.html -%}
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- JavaScript Bundle with Popper -->
    {{ site.bootstrap-js-1 }}
    {{ site.bootstrap-js-2 }}
    {{ site.backtotop-js }}
  </body>
</html>
